body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

.content {
    background-color: lightgray;
    position: relative;
    height: 100%;
}

.auth-button {
    font-size: 40px;
    display: block;
    bottom: 20%;
    position: absolute;
    width: 80%;
    margin-left: 10%;
}

.access-token-properties {
    color: #333;
}

.access-token-properties .key {
    padding: 0.5em 0 0 0.25em;
    font-weight: bold;
}

.access-token-properties .value {
    padding-left: 1em;
    font-size: 15px;
}
